@import "tailwindcss";



body {
  @apply bg-green-50 text-gray-800;
}

/* Custom reusable classes */

.btn-primary {
  @apply bg-green-800 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-900 transition;
}

.btn-secondary {
  @apply bg-yellow-400 text-black px-6 py-3 rounded-lg font-semibold hover:bg-yellow-500 transition;
}

.input {
  @apply w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600;
}

.card {
  @apply bg-white rounded-xl shadow p-5;
}
